aberturadecontas-contasalario-efetivador-master/src/main/resources/wsdl/CadastroAssociadoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cadastro.ejb.enterprise.cadastros.servicos.sicredi.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cadastro.ejb.enterprise.cadastros.servicos.sicredi.com.br/" name="CadastroAssociadoService">
<types>
<xsd:schema>
<xsd:import namespace="http://cadastro.ejb.enterprise.cadastros.servicos.sicredi.com.br/" schemaLocation="http://ws-cadastro.hom.sicredi.net:80/CadastroAssociadoService/CadastroAssociadoService?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarDadosAssociado">
<part name="parameters" element="tns:consultarDadosAssociado"/>
</message>
<message name="consultarDadosAssociadoResponse">
<part name="parameters" element="tns:consultarDadosAssociadoResponse"/>
</message>
<message name="ServException">
<part name="fault" element="tns:ServException"/>
</message>
<message name="consultarAutorizacaoAssociadoScr">
<part name="parameters" element="tns:consultarAutorizacaoAssociadoScr"/>
</message>
<message name="consultarAutorizacaoAssociadoScrResponse">
<part name="parameters" element="tns:consultarAutorizacaoAssociadoScrResponse"/>
</message>
<message name="consultarPessoa">
<part name="parameters" element="tns:consultarPessoa"/>
</message>
<message name="consultarPessoaResponse">
<part name="parameters" element="tns:consultarPessoaResponse"/>
</message>
<message name="consultarIndicadorTitularidade">
<part name="parameters" element="tns:consultarIndicadorTitularidade"/>
</message>
<message name="consultarIndicadorTitularidadeResponse">
<part name="parameters" element="tns:consultarIndicadorTitularidadeResponse"/>
</message>
<message name="buscarSignatariosContas">
<part name="parameters" element="tns:buscarSignatariosContas"/>
</message>
<message name="buscarSignatariosContasResponse">
<part name="parameters" element="tns:buscarSignatariosContasResponse"/>
</message>
<message name="buscarContasCorrentePessoas">
<part name="parameters" element="tns:buscarContasCorrentePessoas"/>
</message>
<message name="buscarContasCorrentePessoasResponse">
<part name="parameters" element="tns:buscarContasCorrentePessoasResponse"/>
</message>
<message name="buscarAssociadoCarteira">
<part name="parameters" element="tns:buscarAssociadoCarteira"/>
</message>
<message name="buscarAssociadoCarteiraResponse">
<part name="parameters" element="tns:buscarAssociadoCarteiraResponse"/>
</message>
<message name="buscarRendaAssociado">
<part name="parameters" element="tns:buscarRendaAssociado"/>
</message>
<message name="buscarRendaAssociadoResponse">
<part name="parameters" element="tns:buscarRendaAssociadoResponse"/>
</message>
<message name="buscarAlteracoesSignatariosContas">
<part name="parameters" element="tns:buscarAlteracoesSignatariosContas"/>
</message>
<message name="buscarAlteracoesSignatariosContasResponse">
<part name="parameters" element="tns:buscarAlteracoesSignatariosContasResponse"/>
</message>
<message name="buscarEmpresasConsignacaoFolha">
<part name="parameters" element="tns:buscarEmpresasConsignacaoFolha"/>
</message>
<message name="buscarEmpresasConsignacaoFolhaResponse">
<part name="parameters" element="tns:buscarEmpresasConsignacaoFolhaResponse"/>
</message>
<message name="calcularRendaFaturamentoMensal">
<part name="parameters" element="tns:calcularRendaFaturamentoMensal"/>
</message>
<message name="calcularRendaFaturamentoMensalResponse">
<part name="parameters" element="tns:calcularRendaFaturamentoMensalResponse"/>
</message>
<message name="atualizarPrioridadeRenovacaoCadastral">
<part name="parameters" element="tns:atualizarPrioridadeRenovacaoCadastral"/>
</message>
<message name="atualizarPrioridadeRenovacaoCadastralResponse">
<part name="parameters" element="tns:atualizarPrioridadeRenovacaoCadastralResponse"/>
</message>
<message name="solicitarLimiteAutomatico">
<part name="parameters" element="tns:solicitarLimiteAutomatico"/>
</message>
<message name="solicitarLimiteAutomaticoResponse">
<part name="parameters" element="tns:solicitarLimiteAutomaticoResponse"/>
</message>
<message name="aceitarLimiteAutomatico">
<part name="parameters" element="tns:aceitarLimiteAutomatico"/>
</message>
<message name="aceitarLimiteAutomaticoResponse">
<part name="parameters" element="tns:aceitarLimiteAutomaticoResponse"/>
</message>
<message name="buscarCartoesAutografos">
<part name="parameters" element="tns:buscarCartoesAutografos"/>
</message>
<message name="buscarCartoesAutografosResponse">
<part name="parameters" element="tns:buscarCartoesAutografosResponse"/>
</message>
<message name="buscarDadosBeneficiario">
<part name="parameters" element="tns:buscarDadosBeneficiario"/>
</message>
<message name="buscarDadosBeneficiarioResponse">
<part name="parameters" element="tns:buscarDadosBeneficiarioResponse"/>
</message>
<message name="buscarFaturamentoUltimosDozeMeses">
<part name="parameters" element="tns:buscarFaturamentoUltimosDozeMeses"/>
</message>
<message name="buscarFaturamentoUltimosDozeMesesResponse">
<part name="parameters" element="tns:buscarFaturamentoUltimosDozeMesesResponse"/>
</message>
<message name="consultarIndicadorTitularidadeAtivo">
<part name="parameters" element="tns:consultarIndicadorTitularidadeAtivo"/>
</message>
<message name="consultarIndicadorTitularidadeAtivoResponse">
<part name="parameters" element="tns:consultarIndicadorTitularidadeAtivoResponse"/>
</message>
<portType name="CadastroAssociadoService">
<operation name="consultarDadosAssociado">
<input message="tns:consultarDadosAssociado"/>
<output message="tns:consultarDadosAssociadoResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="consultarAutorizacaoAssociadoScr">
<input message="tns:consultarAutorizacaoAssociadoScr"/>
<output message="tns:consultarAutorizacaoAssociadoScrResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="consultarPessoa">
<input message="tns:consultarPessoa"/>
<output message="tns:consultarPessoaResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="consultarIndicadorTitularidade">
<input message="tns:consultarIndicadorTitularidade"/>
<output message="tns:consultarIndicadorTitularidadeResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarSignatariosContas">
<input message="tns:buscarSignatariosContas"/>
<output message="tns:buscarSignatariosContasResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarContasCorrentePessoas">
<input message="tns:buscarContasCorrentePessoas"/>
<output message="tns:buscarContasCorrentePessoasResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarAssociadoCarteira">
<input message="tns:buscarAssociadoCarteira"/>
<output message="tns:buscarAssociadoCarteiraResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarRendaAssociado">
<input message="tns:buscarRendaAssociado"/>
<output message="tns:buscarRendaAssociadoResponse"/>
</operation>
<operation name="buscarAlteracoesSignatariosContas">
<input message="tns:buscarAlteracoesSignatariosContas"/>
<output message="tns:buscarAlteracoesSignatariosContasResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarEmpresasConsignacaoFolha">
<input message="tns:buscarEmpresasConsignacaoFolha"/>
<output message="tns:buscarEmpresasConsignacaoFolhaResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="calcularRendaFaturamentoMensal">
<input message="tns:calcularRendaFaturamentoMensal"/>
<output message="tns:calcularRendaFaturamentoMensalResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="atualizarPrioridadeRenovacaoCadastral">
<input message="tns:atualizarPrioridadeRenovacaoCadastral"/>
<output message="tns:atualizarPrioridadeRenovacaoCadastralResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="solicitarLimiteAutomatico">
<input message="tns:solicitarLimiteAutomatico"/>
<output message="tns:solicitarLimiteAutomaticoResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="aceitarLimiteAutomatico">
<input message="tns:aceitarLimiteAutomatico"/>
<output message="tns:aceitarLimiteAutomaticoResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarCartoesAutografos">
<input message="tns:buscarCartoesAutografos"/>
<output message="tns:buscarCartoesAutografosResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarDadosBeneficiario">
<input message="tns:buscarDadosBeneficiario"/>
<output message="tns:buscarDadosBeneficiarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarFaturamentoUltimosDozeMeses">
<input message="tns:buscarFaturamentoUltimosDozeMeses"/>
<output message="tns:buscarFaturamentoUltimosDozeMesesResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="consultarIndicadorTitularidadeAtivo">
<input message="tns:consultarIndicadorTitularidadeAtivo"/>
<output message="tns:consultarIndicadorTitularidadeAtivoResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
</portType>
<binding name="CadastroAssociadoServicePortBinding" type="tns:CadastroAssociadoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarDadosAssociado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="consultarAutorizacaoAssociadoScr">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="consultarPessoa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="consultarIndicadorTitularidade">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarSignatariosContas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarContasCorrentePessoas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarAssociadoCarteira">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarRendaAssociado">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarAlteracoesSignatariosContas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarEmpresasConsignacaoFolha">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="calcularRendaFaturamentoMensal">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="atualizarPrioridadeRenovacaoCadastral">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="solicitarLimiteAutomatico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="aceitarLimiteAutomatico">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarCartoesAutografos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarDadosBeneficiario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarFaturamentoUltimosDozeMeses">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="consultarIndicadorTitularidadeAtivo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CadastroAssociadoService">
<port name="CadastroAssociadoServicePort" binding="tns:CadastroAssociadoServicePortBinding">
<soap:address location="http://ws-cadastro.hom.sicredi.net:80/CadastroAssociadoService/CadastroAssociadoService"/>
</port>
</service>
</definitions>