aberturadecontas-contasalario-efetivador-master/src/main/resources/wsdl/ContaSalarioContasService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><definitions xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ejb.contasalario.sicredi.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ejb.contasalario.sicredi.com.br/" name="ContaSalarioService">
<wsp:UsingPolicy wssutil:Required="true"/>
<wsp:Policy wssutil:Id="defaultAT_optional">
<wsp:ExactlyOne>
<wsp:All>
<ns1:ATAssertion xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/10/wsat" wsp:Optional="true"/>
</wsp:All>
<wsp:All>
<ns2:ATAssertion xmlns:ns2="http://docs.oasis-open.org/ws-tx/wsat/2006/06" wsp:Optional="true"/>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://sicredi.com.br/contas/conta/cmodel/v1/" schemaLocation="http://ws-legado.hom.sicredi.net:80/ContaSalarioService/ContaSalarioService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://ejb.contasalario.sicredi.com.br/" schemaLocation="http://ws-legado.hom.sicredi.net:80/ContaSalarioService/ContaSalarioService?xsd=2"/>
</xsd:schema>
</types>
<message name="consultarInformeContaSalario">
<part name="parameters" element="tns:consultarInformeContaSalario"/>
</message>
<message name="consultarInformeContaSalarioResponse">
<part name="parameters" element="tns:consultarInformeContaSalarioResponse"/>
</message>
<message name="ServException">
<part name="fault" element="tns:ServException"/>
</message>
<message name="consultarMovimentoCS">
<part name="parameters" element="tns:consultarMovimentoCS"/>
</message>
<message name="consultarMovimentoCSResponse">
<part name="parameters" element="tns:consultarMovimentoCSResponse"/>
</message>
<message name="consultarListaMovimentosCS">
<part name="parameters" element="tns:consultarListaMovimentosCS"/>
</message>
<message name="consultarListaMovimentosCSResponse">
<part name="parameters" element="tns:consultarListaMovimentosCSResponse"/>
</message>
<message name="buscarSituacaoContaSalario">
<part name="parameters" element="tns:buscarSituacaoContaSalario"/>
</message>
<message name="buscarSituacaoContaSalarioResponse">
<part name="parameters" element="tns:buscarSituacaoContaSalarioResponse"/>
</message>
<message name="consultarCodigoContaSalario">
<part name="parameters" element="tns:consultarCodigoContaSalario"/>
</message>
<message name="consultarCodigoContaSalarioResponse">
<part name="parameters" element="tns:consultarCodigoContaSalarioResponse"/>
</message>
<message name="agendarPagamentoContaSalario">
<part name="parameters" element="tns:agendarPagamentoContaSalario"/>
</message>
<message name="agendarPagamentoContaSalarioResponse">
<part name="parameters" element="tns:agendarPagamentoContaSalarioResponse"/>
</message>
<message name="consultarSaldoContaSalario">
<part name="parameters" element="tns:consultarSaldoContaSalario"/>
</message>
<message name="consultarSaldoContaSalarioResponse">
<part name="parameters" element="tns:consultarSaldoContaSalarioResponse"/>
</message>
<message name="buscarDataContaSalario">
<part name="parameters" element="tns:buscarDataContaSalario"/>
</message>
<message name="buscarDataContaSalarioResponse">
<part name="parameters" element="tns:buscarDataContaSalarioResponse"/>
</message>
<message name="listarParametrosContaSalario">
<part name="parameters" element="tns:listarParametrosContaSalario"/>
</message>
<message name="listarParametrosContaSalarioResponse">
<part name="parameters" element="tns:listarParametrosContaSalarioResponse"/>
</message>
<message name="incluirMovimentoContaSalario">
<part name="parameters" element="tns:incluirMovimentoContaSalario"/>
</message>
<message name="incluirMovimentoContaSalarioResponse">
<part name="parameters" element="tns:incluirMovimentoContaSalarioResponse"/>
</message>
<message name="alterarMovimentoContaSalario">
<part name="parameters" element="tns:alterarMovimentoContaSalario"/>
</message>
<message name="alterarMovimentoContaSalarioResponse">
<part name="parameters" element="tns:alterarMovimentoContaSalarioResponse"/>
</message>
<message name="atualizarSaldoContaSalario">
<part name="parameters" element="tns:atualizarSaldoContaSalario"/>
</message>
<message name="atualizarSaldoContaSalarioResponse">
<part name="parameters" element="tns:atualizarSaldoContaSalarioResponse"/>
</message>
<message name="atualizarInfoSaldoContaSalario">
<part name="parameters" element="tns:atualizarInfoSaldoContaSalario"/>
</message>
<message name="atualizarInfoSaldoContaSalarioResponse">
<part name="parameters" element="tns:atualizarInfoSaldoContaSalarioResponse"/>
</message>
<message name="excluirMovimentoContaSalario">
<part name="parameters" element="tns:excluirMovimentoContaSalario"/>
</message>
<message name="excluirMovimentoContaSalarioResponse">
<part name="parameters" element="tns:excluirMovimentoContaSalarioResponse"/>
</message>
<message name="consultarUltimoMovimentoContaSalario">
<part name="parameters" element="tns:consultarUltimoMovimentoContaSalario"/>
</message>
<message name="consultarUltimoMovimentoContaSalarioResponse">
<part name="parameters" element="tns:consultarUltimoMovimentoContaSalarioResponse"/>
</message>
<portType name="ContaSalarioService">
<operation name="consultarInformeContaSalario">
<input message="tns:consultarInformeContaSalario"/>
<output message="tns:consultarInformeContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="consultarMovimentoCS">
<input message="tns:consultarMovimentoCS"/>
<output message="tns:consultarMovimentoCSResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="consultarListaMovimentosCS">
<input message="tns:consultarListaMovimentosCS"/>
<output message="tns:consultarListaMovimentosCSResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarSituacaoContaSalario">
<input message="tns:buscarSituacaoContaSalario"/>
<output message="tns:buscarSituacaoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="consultarCodigoContaSalario">
<input message="tns:consultarCodigoContaSalario"/>
<output message="tns:consultarCodigoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="agendarPagamentoContaSalario">
<input message="tns:agendarPagamentoContaSalario"/>
<output message="tns:agendarPagamentoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="consultarSaldoContaSalario">
<input message="tns:consultarSaldoContaSalario"/>
<output message="tns:consultarSaldoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="buscarDataContaSalario">
<input message="tns:buscarDataContaSalario"/>
<output message="tns:buscarDataContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="listarParametrosContaSalario">
<input message="tns:listarParametrosContaSalario"/>
<output message="tns:listarParametrosContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="incluirMovimentoContaSalario">
<input message="tns:incluirMovimentoContaSalario"/>
<output message="tns:incluirMovimentoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="alterarMovimentoContaSalario">
<input message="tns:alterarMovimentoContaSalario"/>
<output message="tns:alterarMovimentoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="atualizarSaldoContaSalario">
<input message="tns:atualizarSaldoContaSalario"/>
<output message="tns:atualizarSaldoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="atualizarInfoSaldoContaSalario">
<input message="tns:atualizarInfoSaldoContaSalario"/>
<output message="tns:atualizarInfoSaldoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="excluirMovimentoContaSalario">
<input message="tns:excluirMovimentoContaSalario"/>
<output message="tns:excluirMovimentoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
<operation name="consultarUltimoMovimentoContaSalario">
<input message="tns:consultarUltimoMovimentoContaSalario"/>
<output message="tns:consultarUltimoMovimentoContaSalarioResponse"/>
<fault message="tns:ServException" name="ServException"/>
</operation>
</portType>
<binding name="ContaSalarioServicePortBinding" type="tns:ContaSalarioService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarInformeContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="consultarMovimentoCS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="consultarListaMovimentosCS">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarSituacaoContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="consultarCodigoContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="agendarPagamentoContaSalario">
<wsp:PolicyReference URI="#defaultAT_optional"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="consultarSaldoContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="buscarDataContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="listarParametrosContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="incluirMovimentoContaSalario">
<wsp:PolicyReference URI="#defaultAT_optional"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="alterarMovimentoContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="atualizarSaldoContaSalario">
<wsp:PolicyReference URI="#defaultAT_optional"/>
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="atualizarInfoSaldoContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="excluirMovimentoContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
<operation name="consultarUltimoMovimentoContaSalario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServException">
<soap:fault name="ServException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ContaSalarioService">
<port name="ContaSalarioServicePort" binding="tns:ContaSalarioServicePortBinding">
<soap:address location="http://ws-legado.hom.sicredi.net:80/ContaSalarioService/ContaSalarioService"/>
</port>
</service>
</definitions>