aberturadecontas-contasalario-efetivador-master/src/main/resources/wsdl/TelefoneService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N2:definitions name="TelefoneService" targetNamespace="http://www.sicredi.com.br/mua/cadastro/business/server/ws/v1/TelefoneService" xmlns:WL5G3N0="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:WL5G3N1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N3="http://www.sicredi.com.br/mua/cadastro/business/server/ws/v1/TelefoneService" xmlns:WL5G3N4="http://sicredi.com.br/arqref/exception/binding/" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
<WL5G3N0:Policy WL5G3N1:Id="TelefoneServicePortBinding_WSAT_policy">
<WL5G3N0:ExactlyOne>
<WL5G3N0:All>
<wsat:ATAssertion wsp:Optional="true" xmlns:wsat="http://schemas.xmlsoap.org/ws/2004/10/wsat" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
</WL5G3N0:All>
<WL5G3N0:All>
<wsat12:ATAssertion wsp:Optional="true" xmlns:wsat12="http://docs.oasis-open.org/ws-tx/wsat/2006/06" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
</WL5G3N0:All>
<WL5G3N0:All>
<wsat12:ATAssertion wsp:Optional="true" xmlns:wsat12="http://docs.oasis-open.org/ws-tx/wsat/2006/06" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"/>
</WL5G3N0:All>
</WL5G3N0:ExactlyOne>
</WL5G3N0:Policy>
    <WL5G3N2:types>
        <xsd:schema xmlns:WL5G3N2="http://www.w3.org/ns/ws-policy" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N4="http://www.sicredi.com.br/mua/cadastro/business/server/ws/v1/TelefoneService" xmlns:WL5G3N5="http://sicredi.com.br/arqref/exception/binding/" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:seb="http://sicredi.com.br/arqref/exception/binding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.sicredi.com.br/mua/cadastro/business/server/ws/v1/TelefoneService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wssutil="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.sicredi.com.br/mua/cadastro/business/server/ws/v1/TelefoneService" schemaLocation="http://osb3cmua.hom.sicredi.net:80/osb-3c-servpla/cadastro/mua/pessoa/telefone/ws/v1/ps/TelefoneService?SCHEMA%2Fosb-3c-servpla%2Fcadastro%2Fmua%2Fpessoa%2Ftelefone%2Fws%2Fv1%2Fps%2Fwsdl%2FTelefoneService"/>
            <xsd:import namespace="http://sicredi.com.br/arqref/exception/binding/" schemaLocation="http://osb3cmua.hom.sicredi.net:80/osb-3c-servpla/cadastro/mua/pessoa/telefone/ws/v1/ps/TelefoneService?SCHEMA%2Fosb-3c-servpla%2Farqref%2Fexception%2Fbinding%2FServException"/>
        </xsd:schema>
    </WL5G3N2:types>
    <WL5G3N2:message name="getTelefones">
        <WL5G3N2:part name="parameters" element="WL5G3N3:getTelefones"/>
    </WL5G3N2:message>
    <WL5G3N2:message name="getTelefonesResponse">
        <WL5G3N2:part name="parameters" element="WL5G3N3:getTelefonesResponse"/>
    </WL5G3N2:message>
    <WL5G3N2:message name="ServException">
        <WL5G3N2:part name="fault" element="WL5G3N4:ServException"/>
    </WL5G3N2:message>
    <WL5G3N2:message name="excluirTelefone">
        <WL5G3N2:part name="parameters" element="WL5G3N3:excluirTelefone"/>
    </WL5G3N2:message>
    <WL5G3N2:message name="excluirTelefoneResponse">
        <WL5G3N2:part name="parameters" element="WL5G3N3:excluirTelefoneResponse"/>
    </WL5G3N2:message>
    <WL5G3N2:message name="gerarDadosECMTelefone">
        <WL5G3N2:part name="parameters" element="WL5G3N3:gerarDadosECMTelefone"/>
    </WL5G3N2:message>
    <WL5G3N2:message name="gerarDadosECMTelefoneResponse">
        <WL5G3N2:part name="parameters" element="WL5G3N3:gerarDadosECMTelefoneResponse"/>
    </WL5G3N2:message>
    <WL5G3N2:message name="salvarTelefone">
        <WL5G3N2:part name="parameters" element="WL5G3N3:salvarTelefone"/>
    </WL5G3N2:message>
    <WL5G3N2:message name="salvarTelefoneResponse">
        <WL5G3N2:part name="parameters" element="WL5G3N3:salvarTelefoneResponse"/>
    </WL5G3N2:message>
    <WL5G3N2:portType name="TelefoneServicesBean">
        <WL5G3N2:operation name="getTelefones">
            <WL5G3N2:input message="WL5G3N3:getTelefones"/>
            <WL5G3N2:output message="WL5G3N3:getTelefonesResponse"/>
            <WL5G3N2:fault name="ServException" message="WL5G3N3:ServException"/>
        </WL5G3N2:operation>
        <WL5G3N2:operation name="excluirTelefone">
            <WL5G3N2:input message="WL5G3N3:excluirTelefone"/>
            <WL5G3N2:output message="WL5G3N3:excluirTelefoneResponse"/>
            <WL5G3N2:fault name="ServException" message="WL5G3N3:ServException"/>
        </WL5G3N2:operation>
        <WL5G3N2:operation name="gerarDadosECMTelefone">
            <WL5G3N2:input message="WL5G3N3:gerarDadosECMTelefone"/>
            <WL5G3N2:output message="WL5G3N3:gerarDadosECMTelefoneResponse"/>
        </WL5G3N2:operation>
        <WL5G3N2:operation name="salvarTelefone">
            <WL5G3N2:input message="WL5G3N3:salvarTelefone"/>
            <WL5G3N2:output message="WL5G3N3:salvarTelefoneResponse"/>
            <WL5G3N2:fault name="ServException" message="WL5G3N3:ServException"/>
        </WL5G3N2:operation>
    </WL5G3N2:portType>
    <WL5G3N2:binding name="TelefoneServicePortBinding" type="WL5G3N3:TelefoneServicesBean">
        <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N2:operation name="getTelefones">
<WL5G3N0:Policy>
<WL5G3N0:PolicyReference URI="#TelefoneServicePortBinding_WSAT_policy"/>
</WL5G3N0:Policy>
            <WL5G3N5:operation/>
            <WL5G3N2:input>
                <WL5G3N5:body use="literal"/>
            </WL5G3N2:input>
            <WL5G3N2:output>
                <WL5G3N5:body use="literal"/>
            </WL5G3N2:output>
            <WL5G3N2:fault name="ServException">
                <WL5G3N5:fault name="ServException" use="literal"/>
            </WL5G3N2:fault>
        </WL5G3N2:operation>
        <WL5G3N2:operation name="excluirTelefone">
<WL5G3N0:Policy>
<WL5G3N0:PolicyReference URI="#TelefoneServicePortBinding_WSAT_policy"/>
</WL5G3N0:Policy>
            <WL5G3N5:operation/>
            <WL5G3N2:input>
                <WL5G3N5:body use="literal"/>
            </WL5G3N2:input>
            <WL5G3N2:output>
                <WL5G3N5:body use="literal"/>
            </WL5G3N2:output>
            <WL5G3N2:fault name="ServException">
                <WL5G3N5:fault name="ServException" use="literal"/>
            </WL5G3N2:fault>
        </WL5G3N2:operation>
        <WL5G3N2:operation name="gerarDadosECMTelefone">
<WL5G3N0:Policy>
<WL5G3N0:PolicyReference URI="#TelefoneServicePortBinding_WSAT_policy"/>
</WL5G3N0:Policy>
            <WL5G3N5:operation/>
            <WL5G3N2:input>
                <WL5G3N5:body use="literal"/>
            </WL5G3N2:input>
            <WL5G3N2:output>
                <WL5G3N5:body use="literal"/>
            </WL5G3N2:output>
        </WL5G3N2:operation>
        <WL5G3N2:operation name="salvarTelefone">
<WL5G3N0:Policy>
<WL5G3N0:PolicyReference URI="#TelefoneServicePortBinding_WSAT_policy"/>
</WL5G3N0:Policy>
            <WL5G3N5:operation/>
            <WL5G3N2:input>
                <WL5G3N5:body use="literal"/>
            </WL5G3N2:input>
            <WL5G3N2:output>
                <WL5G3N5:body use="literal"/>
            </WL5G3N2:output>
            <WL5G3N2:fault name="ServException">
                <WL5G3N5:fault name="ServException" use="literal"/>
            </WL5G3N2:fault>
        </WL5G3N2:operation>
    </WL5G3N2:binding>
    <WL5G3N2:service name="TelefoneServicePortBindingQSService">
        <WL5G3N2:documentation>OSB Service</WL5G3N2:documentation>
        <WL5G3N2:port name="TelefoneServicePortBindingQSPort" binding="WL5G3N3:TelefoneServicePortBinding">
            <WL5G3N5:address location="http://osb3cmua.hom.sicredi.net:80/osb-3c-servpla/cadastro/mua/pessoa/telefone/ws/v1/ps/TelefoneService"/>
        </WL5G3N2:port>
    </WL5G3N2:service>
</WL5G3N2:definitions>