aberturadecontas-legado-originacao-master/src/main/resources/wsdl/AdminService.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://ejb.server.business.commons.mua.sicredi.com.br/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/"
             targetNamespace="http://ejb.server.business.commons.mua.sicredi.com.br/" name="AdminService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://ejb.server.business.commons.mua.sicredi.com.br/"
                        schemaLocation="http://ws-mua.pre.sicredi.net:80/AdminServicesBean/AdminService?xsd=1"/>
        </xsd:schema>
    </types>
    <message name="listBranchesDetailsByCooperativa">
        <part name="parameters" element="tns:listBranchesDetailsByCooperativa"/>
    </message>
    <message name="listBranchesDetailsByCooperativaResponse">
        <part name="parameters" element="tns:listBranchesDetailsByCooperativaResponse"/>
    </message>
    <message name="BusinessException">
        <part name="fault" element="tns:BusinessException"/>
    </message>
    <message name="getProximoDiaUtil">
        <part name="parameters" element="tns:getProximoDiaUtil"/>
    </message>
    <message name="getProximoDiaUtilResponse">
        <part name="parameters" element="tns:getProximoDiaUtilResponse"/>
    </message>
    <message name="listCooperativas">
        <part name="parameters" element="tns:listCooperativas"/>
    </message>
    <message name="listCooperativasResponse">
        <part name="parameters" element="tns:listCooperativasResponse"/>
    </message>
    <portType name="AdminServicesBean">
        <operation name="listBranchesDetailsByCooperativa">
            <input wsam:Action="http://ejb.server.business.commons.mua.sicredi.com.br/AdminServicesBean/listBranchesDetailsByCooperativaRequest"
                   message="tns:listBranchesDetailsByCooperativa"/>
            <output wsam:Action="http://ejb.server.business.commons.mua.sicredi.com.br/AdminServicesBean/listBranchesDetailsByCooperativaResponse"
                    message="tns:listBranchesDetailsByCooperativaResponse"/>
            <fault message="tns:BusinessException" name="BusinessException"
                   wsam:Action="http://ejb.server.business.commons.mua.sicredi.com.br/AdminServicesBean/listBranchesDetailsByCooperativa/Fault/BusinessException"/>
        </operation>
        <operation name="getProximoDiaUtil">
            <input wsam:Action="http://ejb.server.business.commons.mua.sicredi.com.br/AdminServicesBean/getProximoDiaUtilRequest"
                   message="tns:getProximoDiaUtil"/>
            <output wsam:Action="http://ejb.server.business.commons.mua.sicredi.com.br/AdminServicesBean/getProximoDiaUtilResponse"
                    message="tns:getProximoDiaUtilResponse"/>
            <fault message="tns:BusinessException" name="BusinessException"
                   wsam:Action="http://ejb.server.business.commons.mua.sicredi.com.br/AdminServicesBean/getProximoDiaUtil/Fault/BusinessException"/>
        </operation>
        <operation name="listCooperativas">
            <input wsam:Action="http://ejb.server.business.commons.mua.sicredi.com.br/AdminServicesBean/listCooperativasRequest"
                   message="tns:listCooperativas"/>
            <output wsam:Action="http://ejb.server.business.commons.mua.sicredi.com.br/AdminServicesBean/listCooperativasResponse"
                    message="tns:listCooperativasResponse"/>
            <fault message="tns:BusinessException" name="BusinessException"
                   wsam:Action="http://ejb.server.business.commons.mua.sicredi.com.br/AdminServicesBean/listCooperativas/Fault/BusinessException"/>
        </operation>
    </portType>
    <binding name="AdminServicePortBinding" type="tns:AdminServicesBean">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="listBranchesDetailsByCooperativa">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </fault>
        </operation>
        <operation name="getProximoDiaUtil">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </fault>
        </operation>
        <operation name="listCooperativas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
            <fault name="BusinessException">
                <soap:fault name="BusinessException" use="literal"/>
            </fault>
        </operation>
    </binding>
    <service name="AdminService">
        <port name="AdminServicePort" binding="tns:AdminServicePortBinding">
            <soap:address location="http://ws-mua.hom.sicredi.net:80/AdminServicesBean/AdminService"/>
        </port>
    </service>
</definitions>